html {
    /* background: #000; */
    background-image: url(./img/nastol.com.ua-386716.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    height: 90vh;
    overflow-y: hidden;
}
.img {
    width: 800px;
    opacity: 0;
    transition: 1s;
    border-radius: 20px;
}
.img1 {
    width: 500px;
    transition: 1s;
    opacity: 0;
    border-radius: 20px;
}
.click {
    width: 500px;
    height: 380px;
    position: absolute;
    background: #b66767;
    top: 30vh;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 50;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}
.click__text {
    width: 250px;
    margin: 0 auto;
    font-size: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    -webkit-text-stroke: 1.5px rgb(170, 33, 33);
}