html {
    background-image: url(./img/nastol.com.ua-211838.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.head {
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
}
.head__title {
    font-size: 70px;
    font-weight: 900;
    color: rgb(233, 136, 168);
    font-family: "Pacifico";
    -webkit-text-stroke: 0.2px black;
}
.main {
}
.main__block1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.block3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.block4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
}
.block__title {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: rgb(233, 136, 168);
    font-family: "Pacifico";
    -webkit-text-stroke: 0.2px black;
}
.block__img1 {
    width: 500px;
    border-radius: 20px;
}
.block__img2 {
    width: 660px;
    border-radius: 20px;
}
.block__img3 {
    width: 660px;
    border-radius: 20px;
}
.block__img4 {
    width: 1000px;
    padding-bottom: 50px;
    border-radius: 20px;
}